@import url("./reset.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css");
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400&display=swap');

:root {
	--bg-section: url("../image/image1.png");
	--clr-green:#5b9840;
	--clr-white:#fff;
	--clr-black:#000000;	
}

html {
	font-family: 'PT Serif', serif;
}

.main {
	width: 100vw;
	height: 100vh;
	background-color: var(--clr-white);
	display: flex;
	justify-content: center;
	align-items: center;
}

.container {
	display: flex;
	width: 900px;
	height: 400px;
	box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.5);
}

/* Card */
.card__container {
	background-image: var(--bg-section);
	background-size:contain;
	width: 50%;
	padding: 1rem;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.card__header__container {
width: 100%;

}
.title {
	text-align: center;
}
.divider {
	border: 1px dashed var(--clr-green);
	margin-bottom: 0.5rem;
}
.need__time {
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin-bottom: 1rem;
}
.need__time > h3 {
	font-weight: 300;
	font-style: italic;
}

.recipe {
	align-self: start;
	margin-bottom: 1rem;
}
.recipe span {
	color: var(--clr-green);
	font-weight: bold;
	padding-right: 0.5rem;
}
.instruction {
	margin-bottom: 1rem;
}
.table__container {
	width: 100%;
}
.table {
	border-collapse: collapse;
	width: 100%;
	border:1px solid var(--clr-green);
}
td, th {
    border: 1px solid var(--clr-green);
    padding-left: 10px;
	text-align: center;
    
}

/* Image */
.image {
	padding: 1rem 1rem 1rem 0;
	width: 50%;
	overflow: hidden;
}
.image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}